@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.text {
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.credits {
  color: white;
  background-color: #1e6c93;
  font-family: "Lato", sans-serif;
  padding-left: 3.125em;
  padding-right: 3.125em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  letter-spacing: 0em;
  font-size: 0.9375em;
  text-align: center;
}
.text2 {
  font-family: "Lato", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
