* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.image2 {
  background-color: #ffff;
  font-family: "Lato", sans-serif;
  letter-spacing: 0em;
}
.image3 {
  text-align: center;
}
.credits {
  color: white;
  background-color: #1e6c93;
  font-family: "Lato", sans-serif;
  padding-left: 3.125em;
  padding-right: 3.125em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  letter-spacing: 0em;
  font-size: 0.9375em;
  text-align: center;