@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
	font-family: "Open Sans", sans-serif;
	color: #ffff;
	letter-spacing: 2px;
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.container {
	display: flex;
	align-items: center;
	justify-content: left;
}

.text {
	font-size: 30px;
	padding-left: 20px;
}

.image {
	padding-left: 0px
}

.text2 {
	font-size: 100px;
	text-align: center;
	margin-top: 150px;
}

.text3 {
	color: black; 
	background-color: #ffff; 
	font-family: "Lato", sans-serif; 
	padding-left: 50px;
	padding-right: 50px;
	padding-top:20px;
	padding-bottom:20px;
	letter-spacing: 0px;
	font-size: 20px;
}

.newstext {
	color: black; 
	background-color: #ffff; 
	font-family: "Lato", sans-serif; 
	padding-left: 50px;
	padding-right: 50px;
	letter-spacing: 0px;
	font-size: 20px;
}

.image2 {
	background-color: #ffff; 
	font-family: "Lato", sans-serif; 
	letter-spacing: 0px;
}

.image3 {
	text-align:center;
}

.credits {
	color: white;
	background-color: #1e6c93;
	font-family: "Lato", sans-serif;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: 0px;
	font-size: 15px;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #35383E;
	overflow-x: hidden;
	padding-top: 75px;
	transition: 0.5s;
}

.sidebar a {
	padding: 8px 8px 8px 27px;
	font-family: "Lato", sans-serif; 
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	font-size: 45px;
	padding-top: 27px;
	padding-left: 27px;
}

.openbtn {
	font-size: 35px;
	cursor: pointer;
	padding: 10px 15px;
	border: none;
	background-color: transparent;
	color: white;
}

.openbtn:hover {
	color:grey
}

#main {
	transition: margin-left .5s;
	padding: 20px;
}

@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}